{% extends "base.html" %}

{% block content %}
<label for="level">Level:</label><br>
<select id='level' name='level' size="3">
<option value="Regular">Regular</option>
<option value="Honors">Honors</option>
<option value="AP">AP</option>
</select><br>

<label for="class_name">Class Name:</label><br>
<input type="text" placeholder={{class_list.0.class_name}} id='class_name' name='class_name'><br>

<label for="average_text">Average:</label><br>
<input type="text" placeholder={{ class_list.0.grade}} id='grade' name='grade'><br>
<input type="submit" name = "submit_form" value="Submit">

{% endblock content %}