{% extends "base.html" %}
{% load static %}

{% block content %}
<a href="http://localhost:8000/homework/cookies">Cookies</a>
<a class="lower" href="http://localhost:8000/homework/hw_list">See Homework</a> 
<a class="lower" href="http://localhost:8000/homework/forms"> Add Homework (HTML) </a>
<a class="lower" href="http://localhost:8000/homework/django_forms"> Add Homework (Django) </a>
<a class="lower" href="http://localhost:8000/homework/search_form">Search Homework</a>
<a class="lower" href="http://localhost:8000/homework/list_view">List View</a><br><br>

You have successfully added your assignment. Click on "See Homework" to view all your assignments.
{% endblock content %}