{% block content %}
<a href="http://localhost:8000/homework/cookies">Cookies</a>
<a class="lower" href="http://localhost:8000/homework/hw_list">See Homework</a> 
<a class="lower" href="http://localhost:8000/homework/forms"> Add Homework (HTML) </a>
<a class="lower" href="http://localhost:8000/homework/django_forms"> Add Homework (Django) </a>
<a class="lower" href="http://localhost:8000/homework/search_form">Search Homework</a>
<a class="lower" href="http://localhost:8000/homework/list_view">List View</a><br><br>

   <form action="" method="post">
       {% csrf_token %}
       {{ django_form.as_p }}
       <input type="submit" value="Submit">
   </form>

   <img src="/static/images/frown.png" alt="frown" width="300" height="300" align="middle">
    
   <button onclick="document.getElementById('frown').click()">Download!!</button>
   <a id="frown" href="/static/images/frown.png" download hidden></a>
{% endblock content %}